/* section {
    width: 100%;
} */

.welcome {
    text-align: center;
    /* height: 60vh; */
    padding: 25vh 0 30vh 0;
    vertical-align: middle;
    
}

h1 {
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    color: #3b414c;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    color: #3b414c;
}

.aboutMe {
    background-image: linear-gradient(to top, #1f4cc6 0%, #2962ff 100%);
    height: 30vh;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h3 {
    font-size: 2rem;
    font-family: 'Archivo', sans-serif;
    color: white;
    padding: 50px 0 20px 0;
    text-align: center;


}

p {
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    width: 45vw;
    margin: 0 auto;
}



