section {
    padding-top: 5vh;
}

h5 {
    font-family: 'Archivo', sans-serif;
    color: #3b414c;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #3b414c;
}

.projectButton {
    background-color: #2962ff;
    color: white;
    width: 100%;
}

.card-img-top {
    height: 175px;
    padding: 20px;
}